<div class="row">
  <div class="span<%= (SkroutzEasy::KEY.blank? or SkroutzEasy::SECRET.blank?) ? "8" : "12" %>">
    <h1>OAuth2 Demo</h1>
    <p>This is a very simple but complete OAuth2 demo using the Skroutz OAuth2 API</p>

    <%= form_tag "/authorization/authorize", :method => :post, :class => "form-horizontal"  do |f| %>
      <fieldset>
        <legend>Address</legend>
        <div class="control-group">
          <label class="control-label" for="person_first_name">First name</label>
          <div class="controls">
            <%= text_field :person, :first_name, :class => "input-xlarge" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="person_last_name">Last name</label>
          <div class="controls">
            <%= text_field :person, :last_name, :class => "input-xlarge" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="person_email">Email</label>
          <div class="controls">
            <%= text_field :person, :email, :class => "input-xlarge" %>
          </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="person_address">Address</label>
            <div class="controls">
                <%= text_field :person, :address, :class => "input-xlarge" %>
            </div>
        </div>
        <div class="form-actions">
          <%= submit_tag "Use SkroutzEasy", :class => "btn btn-primary" %>
          <%= link_to "Next &raquo;".html_safe, "#", :class => "btn btn-success" %>
        </div>
      </fieldset>
    <% end %>
  </div>

  <% if SkroutzEasy::KEY.blank? or SkroutzEasy::SECRET.blank? %>
  <div class="span4">
    <div id="keys-info" class="alert alert-block alert-info">
      <h2 class="alert-heading">Info</h2>

      <div>
        In order to use the demo you must have valid keys:
        <ul>
          <li>client_id</li>
          <li>client_secret</li>
        </ul>
      </div>

      <p>
        Get the keys and add them to:
        <code>config/initializers/skroutz_easy.rb</code>
      </p>

      <%= link_to "Get OAuth2 keys &raquo;".html_safe, "http://www.skroutz.gr/oauth2/clients/new", :class => 'btn btn-info' %>
    </div>
  </div>
  <% end %>
</div>
